/* SPDX-License-Identifier: MIT */

@import '../../theme.scss';

.home {
  .MuiCardContent-root {
    min-height: 150px;
    svg {
      vertical-align: text-top;
    }
  }
  .home-notice {
    margin-bottom: theme-spacing(4);
    padding: theme-spacing(1) theme-spacing(2);
    background-color: rgba(250, 125, 0, 0.25);
    background-color: var(--color-secondary-light);
    color: var(--color-secondary-contrast);
  }
}
