/* SPDX-License-Identifier: MIT */

@import '../../../theme.scss';

.fifth-edition-spell-tables {
  .spell {
    > div + div {
      margin-top: theme-spacing(1);
    }
    .roll-table {
      display: grid;
      grid-template-columns: fit-content(20%) fit-content(40%) fit-content(40%);
      align-items: stretch;

      .result {
        grid-column: 3;
        grid-row: 1 / 999;
        font-size: 1.3em;
        padding: theme-spacing(1) theme-spacing(1);
      }
      > :not(.result) {
        color: var(--color-primary-contrast);
        background-color: var(--color-primary-dark);
        padding: theme-spacing(0.5) theme-spacing(1);

        &.dice {
          text-align: center;
        }
        &.header {
          font-weight: bold;
        }
        &:not(.header) {
          &:nth-child(4n + 4),
          &:nth-child(4n + 5) {
            background-color: var(--color-secondary-dark);
          }
          &:nth-child(4n + 6),
          &:nth-child(4n + 7) {
            background-color: var(--color-secondary-light);
          }
        }
      }
    }
  }
}
