/* SPDX-License-Identifier: MIT */

.modifier {
  padding: 0 0.2em;
}

%needs-parens {
  &::before {
    content: '(';
  }
  &::after {
    content: ')';
  }
}

.left,
.right {
  @extend %side;
}

.add,
.subtract {
  @extend %addsub;
}

.multiply,
.divide,
.modulus {
  @extend %muldiv;
}

.combiner:not(%addsub) {
  & > %side {
    & > .combiner%addsub {
      @extend %needs-parens;
    }
  }
}
.combiner%addsub {
  & > %side {
    & > .combiner:not(%addsub):not(.exponent) {
      @extend %needs-parens;
    }
  }
}

.combiner:not(%muldiv) {
  & > %side {
    & > .combiner%muldiv {
      @extend %needs-parens;
    }
  }
}

.combiner%muldiv {
  & > %side {
    & > .combiner:not(%muldiv):not(.exponent) {
      @extend %needs-parens;
    }
  }
}

.exponent > .modifier {
  display: none;
}
.exponent > .right {
  vertical-align: super;
  font-size: 80%;
  > * {
    vertical-align: bottom;
  }
}

.combiner.exponent > .left > .combiner {
  @extend %needs-parens;
}
