/* SPDX-License-Identifier: MIT */

.die {
  background-position: top left;
  background-size: contain;
  width: 2.778em;
  height: 2.778em;
  line-height: 2.778em;
  text-align: center;
  position: relative;
  font-size: 0.563em;
  font-weight: bold;
  > .bg,
  > .val {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
  }
  &.d100 .val {
    padding-right: 0.278em;
  }
  &.unknownSides::after {
    content: attr(data-sides);
    position: absolute;
    top: 0.222em;
    right: 0.222em;
    width: 2em;
    height: 1.556em;
    line-height: 1.556em;
    font-size: 0.5em;
  }
}
