/* SPDX-License-Identifier: MIT */

.keptSome {
  &::before {
    content: '[';
  }
  &::after {
    content: ']';
  }
  &.k-highest {
    &::before {
      content: '⌈';
    }
    &::after {
      content: '⌉';
    }
  }
  &.k-lowest {
    &::before {
      content: '⌊';
    }
    &::after {
      content: '⌋';
    }
  }
}

.dropped {
  color: rgb(100, 0, 0);
  .droppedIcon {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    color: rgba(255, 0, 0, 0.25);
  }
}
