/* SPDX-License-Identifier: MIT */

@import '../../theme.scss';

.container {
  margin: theme-spacing(1);
  font-size: 2.286em;
  line-height: 1.563em;
  vertical-align: bottom;
  * {
    vertical-align: inherit;
  }
  div {
    display: inline-block;
  }
}

.roll + .value::before {
  content: '=';
  padding: 0 0.25em;
}

.value {
  font-weight: bold;
}
