/* SPDX-License-Identifier: MIT */

@import '../theme.scss';

.content {
  margin-top: theme-spacing(3);
  margin-bottom: theme-spacing(3);
}

.notice {
  margin-bottom: theme-spacing(4);
  padding: theme-spacing(1) theme-spacing(2);
  background-color: var(--color-secondary-light);
  color: var(--color-secondary-contrast);
}
