/* SPDX-License-Identifier: MIT */

@import './theme.scss';

div.notice {
  padding: theme-spacing(1) theme-spacing(4);
  background-color: rgba(255, 200, 0, 0.5);
  color: #000;
  border-radius: 0;
}
