/* SPDX-License-Identifier: MIT */

@import '../../theme.scss';

.dungeon-page {
  display: grid;
  grid-template-columns: max-content max-content;
}

.dungeon-form {
  max-width: 200px;
  padding: theme-spacing(2);
}
