/* SPDX-License-Identifier: MIT */

@import '../../theme.scss';

.page {
  text-align: center;
}

.diceBag {
  svg {
    width: 48px;
    height: 48px;
  }
}

.diceForm {
  margin: theme-spacing(1) 0;
  & > * {
    vertical-align: middle;
  }
}

.diceNotationInput {
  max-width: 150px;
}

.help {
  text-align: left;
  max-width: 700px;
  margin: theme-spacing(1) auto;

  dt {
    font-weight: bold;
  }
  dd {
    margin: 0;
  }
  dd + dt {
    margin-top: theme-spacing(1);
  }
}

.rolls {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}
.lastRoll {
  font-size: 1.25em;
}

.diceHistory {
  padding-left: 1em;
  font-size: 0.8em;
  opacity: 0.75;
}
